# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SCHOOL\SEM5\FINAL PROJECT\Assignment6\Assignment6-Gabriel-Lucas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
